{{ define "content" }}
<section style="color:black;background-color:white;margin-top:55px" id="event" class="container text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      {{ range .Params.eventDetails }}
      <h2>{{ $.Title }} at {{ .city }}</h2>
      <p>{{ .description }}</p>
      <p><strong>When</strong>: <em>{{ .when }}</em></p>
      <p><strong>Where</strong>: <a href="{{ .whereUrl | safeURL }}">{{ .where }}</a>, {{ .whereAddrs }}</p>
      <p>Please, <a href="{{ .url | safeURL }}">register for the event.</a></p>
      {{ with  $.OutputFormats.Get "Calendar" }}
      <p>Add it to your <a href="{{ .Permalink | safeURL }}">{{ .Name }}</a></p>
      {{ end }}
    </div>
  </div>
  <div class="row">
    {{ range .speakers }}
    {{ if isset . "isMultiple" }}
    <div class="col-md-4">
      {{ range .image }}<img height="130px" src="/img/speakers/{{ . }}">{{ end }}
      <h4 style="margin-bottom:0px">“{{ .motto }}“</h4>
      <p style="margin-bottom:0px">{{ delimit .name " & " }}</p>
      <h6 style="margin-bottom:2px"><a href="{{ .contact }}">{{ delimit .contactAnchor ", "}}</a></h6>
      <h6 style="margin-bottom:2px">{{ .bio }}</h6>
    </div>
    {{ else }}
    <div class="col-md-2">
      <img height="130px" src="/img/speakers/{{ .image }}">
      <h4 style="margin-bottom:0px">“{{ .motto }}“</h4>
      <p style="margin-bottom:0px">{{ .name }}</p>
      <h6 style="margin-bottom:2px"><a href="{{ .contact }}">{{ .contact }}</a></h6>
      <h6 style="margin-bottom:2px">{{ .bio }}</h6>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
    <hr/>
    {{ .Content }}
</section>
{{ partial "structure/footer.html" . }}
{{ end }}
