<section style="color:black;background-color:white" id="about" class="content-section text-center">
  <HR>
  <div class="container">
    <div class="col-lg-12">
      <h2>ABOUT DataBeersGRX</h2>    

      <p>DataBeers is a non-profit and open community whose mission is to become a summit for professionals and students inside the scope of Big Data and Data Science to discuss and share experiences also promoting events where everybody with an interest in data is welcome to exchange their knowledge.</p>

      <p>

        Databeers is an international community in which we invite all the people who are interested in learning and sharing their experiences with the data while enjoying a few beers. This is an event for data scientists journalists, documentalists, data artists, developers, engineers, etc. In summary for all those that are working, using, treating, visualizing, discovering, exploting, ... data.</p>

      <p>

        DataBeers was fundend in May 2014 by Giovanna Miritello(<a href="https://twitter.com/gmiritello">@gmiritello</a>), Marcelo Soria (<a href="https://twitter.com/msoriaro">@msoriaro</a>) and Dani Villatoro (<a href="https://twitter.com/dani_agent">@dani_agent</a>) in Madrid. Since then this event has spread in several cities around the world making this community bigger.          </p>      
    </div>                 
  </div>

  <div class="container">
    <div class="col-lg-12">
      <h2>Granada team: </h2>    
    </div>                 
  </div>

  <div class="container">
    <div class="col-lg-6">    
      <p>
        <img width="170px"  src="/img/organizers/anavaldivia.jpg">
        <BR>Ana Valdivia<BR>
        <a href="https://twitter.com/ana_valdi">@ana_valdi</a><BR>
        Data Scientist UGR<BR>Sentiment Analysis</p>                
    </div>                 
    <div class="col-lg-6">      
      <p><img width="150px" src="/img/organizers/manuparra.jpg"><BR>Manuel Parra<BR>
        <a href="https://twitter.com/manugrapevine">@manugrapevine</a><BR>
        PhD. student UGR<BR>Big Data Time Series Data Mining </p>         
    </div>                 
  </div>
</section>
