<section id="contact" style="color:black;background-color:white" class="container content-section text-center">
  <div class="row">
    <HR>
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact DataBeersGRX</h2>
      <p>Feel free to email us !</p>
      <p><a href="mailto:feedback@startbootstrap.com">info@databeersgrx.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/databeersgrx" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://facebook.com/databeersgrx" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="https://instagram.com/databeersgrx" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCvY9ZvlW3zSbBkp__2AZRjg" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">YouTube</span></a>
        </li>
        
      </ul>
    </div>
    <HR>
  </div>
</section>
