<section style="color:black;background-color:white" id="event" class="container content-section text-center">
  <HR>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>FIRST EVENT at GRANADA </h2>
      <p>We are so proud to announce the first <B>DataBeersGRX</B> at GRANADA.
        <BR><B>DataBeersGRX</B> will be on <u>November 30th, 2016, 19:00h</u> at <a href="https://www.facebook.com/cottonclubgranada/">CottonClub Granada</a><BR>
        <i>Calle Pintor López Mezquita, 13, Granada</i></p>

      <p>Please, register for the event: <a href="https://www.meetup.com/DataBeersGRX/">www.meetup.com/DataBeersGRX</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img height="130px" src="/img/speakers/iblancas.jpg">
      <h4 style="margin-bottom:0px">“GitHub’s data is a life-changer“</h4>
      <p style="margin-bottom:0px">Israel Blancas</p>
      <h6 style="margin-bottom:2px"><a href="https://twitter.com/iblancasa/">@iblancasa</a></h6>
      <h6 style="margin-bottom:2px">Ingeniero de software en Real-Time Innovations  (RTI)</h6>
      

    </div>
    <div class="col-md-2">
      <img   height="130px" src="/img/speakers/rocioromero.jpg">
      <h4 style="margin-bottom:0px">“Rutas a partir de trazas GPS”</h4>
      <p style="margin-bottom:0px">Rocio Romero</p>
      <h6 style="margin-bottom:2px"><a href="https://twitter.com/RCRZ_UGR/">@RCRZ_UGR</a></h6>
      <h6 style="margin-bottom:2px">Biología computacional. UGR</h6>
      
    </div>
    <div class="col-md-4">
      <center><table><tr><td><img   height="130px"src="/img/speakers/eva.jpg"></td><td><img   height="130px"src="/img/speakers/palarcon.jpg"></td></tr></table></center>
      <h4 style="margin-bottom:0px">“Big Data: una de cal y otra de arena”<BR>&nbsp;</h4>
      <p style="margin-bottom:0px">Elena Cruz &amp; Pedro A. Alarcón</p>
      <h6 style="margin-bottom:2px"><a href="https://twitter.com/CruzMartinElena/">@CruzMartinElena</a>  <a href="https://twitter.com/pdalarcon/">@pdalarcon</a></h6>
      <h6 style="margin-bottom:2px">Product Lead & Senior Data Scientist  en Luca Data Driven Decisions (Telefonica). Big Data for Social Good</h6>

    </div>
    <div class="col-md-2">
      <img   height="130px" src="/img/speakers/danieltorres.jpg">
      <h4 style="margin-bottom:0px">“Livemetrics”<BR>&nbsp;</h4>
      <p style="margin-bottom:0px">Daniel Torres</p>
      <h6 style="margin-bottom:2px"><a href="https://twitter.com/torressalinas/">@torressalinas</a></h6>
      <h6 style="margin-bottom:2px">CEO  EC3metrics Ciencia Digital. Medialab UGR</h6>
      
    </div>
    <div class="col-md-2">
      <img    height="130px" src="/img/speakers/jj.jpg">
      <h4 style="margin-bottom:0px">“All hail the data cloud”</h4>  
      <p style="margin-bottom:0px">JJ Merelo</p>              
      <h6 style="margin-bottom:2px"><a href="https://twitter.com/jjmerelo/">@JJMerelo</a></h6>
      <h6 style="margin-bottom:2px">Catedrático en UGR. Director de la Oficina de Software Libre de la UGR. </h6>
    </div>            
  </div>

  <BR>
  <BR>
  <BR>
  <div class="row">
    <div class="col-lg-4">
      <img src="/img/place/cottonclub01.jpg"><BR>
      <img src="/img/place/cottonclub02.jpg">
    </div>
    <div class="col-md-8"> 
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.017290810178!2d-3.610148284757685!3d37.17606005415148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fc930ce47d85%3A0x114db692f0007214!2sCotton+Club!5e0!3m2!1ses!2ses!4v1479211770563" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  
  
</section>
