<section id="partners" style="color:black;background-color:white" class="container content-section text-center">
  <div class="row">
    <HR>
    <div class="col-lg-12">
      <h2>PARTNERS</h2>
      <div class="container">
        <div style="bacground" class="col-lg-4">
          <a href="http://www.ideal.es/granada/"><img src="img/partners/ideal.jpg"></a>
        </div>                 
        <div class="col-lg-4">
          <a href="http://www.eticom.com"><img src="img/partners/eticom.jpg"></a>
        </div>                 
        <div class="col-lg-4">
          <a href="http://www.ugr.es"><img src="img/partners/ugr.jpg"></a>
        </div>                                 
      </div>
    </div>
    <div class="col-lg-12">                
      <div class="container">
        <div style="bacground" class="col-lg-4">
          <a href="http://otri.ugr.es/"><img src="img/partners/otri.jpg"></a>
        </div>                 
        <div class="col-lg-4">
          <a href="http://medialab.ugr.es"><img src="img/partners/medialabugr.jpg"></a>
        </div>                                
        <div class="col-lg-4">
          <a href="http://osl.ugr.es"><img src="img/partners/osl.png"></a>
        </div>                                  
      </div>
    </div>
  </div>
  <HR>
</section>
