<section style="color:black;background-color:white" id="sponsors" class="content-section text-center">
  <HR>
  <div class="container">
    <div class="col-lg-12">
      <h2>SPONSORS</h2>                    
    </div>                 
  </div>
  <div class="container">
    <div style="bacground" class="col-lg-4">
      <a href="http://bios-ts.es"><img src="/img/sponsors/bios.jpg"></a>
    </div>                 
    <div class="col-lg-4">
      <a href="https://www.cervezasalhambra.es/"><img src="/img/sponsors/alhambra.jpg"></a>
    </div>                 
    <div class="col-lg-4">
      <a href="https://www.facebook.com/cottonclubgranada/"><img src="/img/sponsors/cottonclub.jpg"></a>
    </div>                                 
  </div>

  <div class="container">
    <div class="col-lg-4">
      <a href="http://cookingbigdata.com/"><img src="/img/sponsors/cookingbigdata.jpg"></a>
    </div>                 
    <div class="col-lg-4">
      <a href="http://www.salumet.es/"><img src="/img/sponsors/salumet.jpg"></a>
    </div>                 
    <div class="col-lg-4">
      <a href="http://www.twenix.es/"><img src="/img/sponsors/twenix.jpg"></a>
    </div>                
  </div>
</section>
