<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img width="200px" src="img/logo_big_120.png">
          <h1 class="brand-heading"></h1>
          
          <h3>Interested in Data, love beer, and in Granada? Join us!</h3>
          
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 >First <strong>DataBeersGRX</strong> <BR>will take place on <u><BR>Wednesday, November 30th, 19:00h</u> at <a href="https://www.facebook.com/cottonclubgranada/">CottonClub Granada</a>.<BR></h4>

            <p>Please, register for the event and get your free beer <a href="https://www.meetup.com/DataBeersGRX/">www.meetup.com/DataBeersGRX</a></p>

            <a href="#event" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
          </div>
        </div>
      </div>
    </div>
</header>
